.app-bg {
    background-color: #b91450;
}

.cl-btn-txt{
    color: #ba2259;
}

.lab-cl{
    color: #cc4777;
}

.name-block{
    background-color: #837f80;
}

/* .show-details-block{
    display: none;
} */